NODE_ENV=production
SERVICE_USERNAME=
SERVICE_PASSWORD=
FREEIVR_SERVICE_USERNAME=
FREEIVR_SERVICE_PASSWORD=
YEMOT_MANAGEMENT_TOKEN=
FREEIVR_MANAGEMENT_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
